* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    
    
}

h2 {
    color: #00ff95;

}

#menu {
   display: none;
    flex-direction: column;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    padding: 30px;
    gap: 25px;
    z-index: 1000;
  
}
#menu.active {
    display: flex;
  }

#menu li {
    list-style: none;

}

#menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.hamburger {
        display: none;
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
        padding: 6px;
}

@media(max-width: 768px) {
    .hamburger {
        display: flex;
    }
}

.hamburger span {
        display: block;
        width: 28px;
        height:3px;
        background: white;
        margin: 0;
        transition: transform 200ms ease, opacity 200ms ease;
}

.hamburger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.open span:nth-child(2) {
    opacity: 0;
}
.hamburger.open span:nth-child(3) {
    opacity: 0;
}
.hamburger.open span:nth-child(4) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Desktop: mostrar menu horizontal e esconder hamburguer */
@media(min-width: 769px) {
    #menu {
        display: flex;
        position: static;
        flex-direction: row;
        height: auto;
        width: auto;
        background: transparent;
        padding: 0;
        gap: 20px;
        align-items: center;
    }

    .hamburger {
        display: none;
    }
}

#bgvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;

}

.overlay {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 12px;
  
    text-align: center;
    width: 300px;

}

.container h1 {
    color: #fff;
    margin-bottom: 20px;
}

.container input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-bottom: 15px;
    outline: none;


}

.container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #00ff95;
    transition: 3s;
    font-weight: bold;
}

.container button:hover {
    background: #00cc78;
    color: #fff;
}
